* {
    padding: 4px;
  }  
  .root {
    border: 1px solid silver; 
    margin: 2%;
    padding: 10px;
    background: linear-gradient(210deg, rgb(181, 101, 241) 80px, rgba(255, 255, 255, 0.897) 150px);
  }
  
  .monthly {
    font-size: 22px;
    display: inline-block;
  }
  
  .money {
    font-weight: 900;
    font-size: 30px;
  }
  
  .price {
    font-size: 90px;
    padding: 10px;
  }
  
  .limit {
    font-weight: bold;
    padding: 0px;
  }